* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
    
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
}

.card {
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #3498db;
    object-fit: cover;
}

h2 {
    font-size: 22px;
    margin: 10px 0;
    color: #333;
}

p {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a {
    text-decoration: none;
    font-size: 20px;
    color: #3498db;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #1d6fa5;
}
.social-icons img{
    max-width: 50px;
    margin: 0 auto;

}